.AnchoMenor {
    max-width: 40%;
    width: 40%;
}

.AnchoMayor {
    max-width: 40%;
    width: 40%;
}

.AnchoResto {
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    margin-bottom: 0px;
    margin-left: 5px;
    border-bottom-width: 0px;
}