    .AnchoMenor {
        max-width: 30%;
        width: 30%;
    }
    
    .AnchoMayor {
        max-width: 40%;
        width: 40%;
    }
    
    .AnchoResto {
        padding-left: 20px;
        padding-right: 20px;
        height: 30px;
        margin-bottom: 0px;
        margin-left: 5px;
        border-bottom-width: 0px;
    }
    /* Set the width to the full container and center the content */