.grafica {
    display: block;
    margin: auto;
    width: 900px;
    height: 500px;
}

// ion-content {
//     background: url(./assets/imgs/fondo-001.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
// }