<ion-app>
    <ion-split-pane when="md" contentId="main">

        <ion-menu side="start" menuId="first" contentId="main">
            <ion-header>
                <ion-toolbar color="dark">
                    <ion-title>Menú</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <div *ngFor="let item of menu | async ">
                    <ion-list-header mode="ios">
                        <ion-label>{{ item.title }}</ion-label>
                    </ion-list-header>
                    <ion-menu-toggle *ngFor="let c of item.menus" autoHide="false">
                        <ion-item [disabled]=" !data.logeado " [routerLink]="c.redirectTo" detail>
                            <ion-icon [name]="c.icon" slot="start"></ion-icon>
                            {{ c.name }}
                        </ion-item>
                    </ion-menu-toggle>
                </div>
            </ion-content>
        </ion-menu>

        <ion-router-outlet id="main"></ion-router-outlet>
    </ion-split-pane>

</ion-app>