// ion-content {
//     // --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
//     background: rgba(255, 255, 255, 0.1);
// }
ion-content {
    --background: rgb(33, 34, 34);
}

.logo-zs {
    padding-top: 25px;
    padding-bottom: 0px;
    display: block;
    margin: auto;
    height: 230px;
    margin-top: 50px;
}

.logo-kinetik {
    margin-top: 150px;
    padding-top: 40px;
    padding-bottom: 0px;
    display: block;
    margin: auto;
}

.p1 {
    margin-top: 50px;
    margin-left: 25px;
    margin-left: 40px;
    margin-right: 40px;
    color: white;
    font-size: 90%;
    text-align: justify;
}