<app-header titulo="Logout"></app-header>

<ion-content>

    <div class="container">

        <img class="logo-row" src="assets/imgs/logo-001.png">

        <div class="body">

            <ion-list>

                <ion-item style="color:white;">
                    <ion-label>Está seguro que desea abandonar esta app?</ion-label>
                </ion-item>

            </ion-list>

            <ion-button expand="block" (click)="doLogout()">Logout</ion-button>
        </div>

        <ion-row class="logo-kinetik">
            <img src="assets/imgs/logo-kinetik.png">
        </ion-row>
    </div>


</ion-content>